# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://comidappuser:comidapppass@localhost:5432/comidapp?schema=public"
#get in https://forkify-api.herokuapp.com/v2
FORKIFY_API_KEY="90720557-6da0-4148-b2cf-ce7626aa227d"
FORKIFY_URL="https://forkify-api.herokuapp.com/api/v2/recipes"
